body {
background-color: aqua;
color: rgb(10, 150, 231);
font-family: "Protest Guerrilla", sans-serif;
display: flex;
justify-content: center;
align-items: center;
margin: 250px;
}

button{
background-color: rgb(132, 0, 255);
color: rgb(182, 211, 20);
font-family: "bai jamjuree", sans-serif;
}


.passo{


display: none;

}

.passo.ativo{

display:block;

}


